#uagc-ui-footer {
  height: auto;
  margin-top: 20px;
}

/* Bartik responsive layout stuff */
#uagc-ui-branding .section,
#uagc-ui-copyright .section {
  margin-left: auto;
  margin-right: auto;
  max-width: 860px;
  width: 100%;
}

#uagc-ui-branding {
  background-color: #363636;
  padding: 20px 0 10px 0;
}
#uagc-ui-logo img {
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#uagc-ui-branding ul.menu {
  margin-top: 0;
  padding:0;
  text-align: center;
}
#uagc-ui-branding li {
  padding-bottom: 5px;
}
#uagc-ui-branding li a,
#uagc-ui-copyright a {
  color: #ffffff;
}
#uagc-ui-branding #search-form {
  text-align: center;
}

#uagc-ui-social-links {
  text-align: center;
  margin-top: 20px;
}

#uagc-ui-social-links ul {
  list-style: none outside none;
  margin-left: -5px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#uagc-ui-social-links ul li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

#uagc-ui-social-links a {
  opacity: 0.90;
  filter:alpha(opacity=90);
}

#uagc-ui-social-links a:hover {
  opacity: 1.0;
  filter:alpha(opacity=100);
}

/* Start social icon sprites */
#uagc-ui-social-links .facebook,
#uagc-ui-social-links .instagram,
#uagc-ui-social-links .pinterest,
#uagc-ui-social-links .twitter,
#uagc-ui-social-links .youtube {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url(../images/social_icon_sprites.png) no-repeat;
}

#uagc-ui-social-links .facebook {
  background-position: 0 -80px ;
  width: 24px;
  height: 24px;
}

#uagc-ui-social-links .instagram {
  background-position: -24px -80px ;
  width: 24px;
  height: 24px;
}

#uagc-ui-social-links .pinterest {
  background-position: -48px -80px ;
  width: 24px;
  height: 24px;
}

#uagc-ui-social-links .twitter {
  background-position: -72px -80px ;
  width: 24px;
  height: 24px;
}

#uagc-ui-social-links .youtube {
  background-position: -96px -80px ;
  width: 24px;
  height: 24px;
}
/* End social icon sprites */

#uagc-ui-copyright {
    padding: 10px;
    color: #ffffff;
    background-color: #444444;
}

/* Bartik responsive layout stuff */
@media all and (min-width: 851px) {
  #uagc-ui-branding .section,
  #uagc-ui-copyright .section {
    max-width: 1290px;
  }
}

@media all and (min-width: 768px) {
  /* Generic columns for non-bootstrap clients */
  #uagc-ui-footer .footer-col {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    float: left;
    display: inline;
    position: relative;
    width: 100%;
  }

  #uagc-ui-branding-first-row .footer-col {
    width: 25%;
  }

  #uagc-ui-copyright .footer-col {
    width: 50%;
  }

  #uagc-ui-branding img {
    margin-left: 0;
    margin-right: 0;
  }

  /* Forcing search form to fit in column in Bartik */
  #uagc-ui-branding #search-form input[type=search] {
    width: 9em;
  }

  #uagc-ui-branding #search-form,
  #uagc-ui-ua-links {
    text-align: right;
  }

  #uagc-ui-social-links {
    margin-top: 10px;
    text-align: right;
  }
}
